.CodeMirror {
  height: 340px !important;
  color: #ffff;
  background-color: #1d1e22;
}

.CodeMirror-gutters {
  background-color: #1d1e22 !important;
}

.CodeMirror-scroll {
  /* color: #1d1e22; */
}

.icon:hover {
  cursor: pointer;
}
